@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap");

/* 
   font-family: 'Inter', sans-serif;
   font-family: 'Poppins', sans-serif;

   Primary color: #E02C6D;
   Grey color: #F1E4FF;
   Font color: #787885;
   Heading Color: #3A3A3A; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  /* scroll-behavior: smooth; */
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #787885;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: #3a3a3a;
}

strong {
  font-weight: 500;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(224, 44, 110, 0.411);
}

/* REUSABLE GRID */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
